# Ignore all raw data (CSV, temporary files)
data/raw/**/*
!data/raw/**/.gitkeep  # Keep .gitkeep files

# Ignore all processed data (Parquet, etc.)
data/processed/**
!data/processed/.gitkeep

# Global ignores
*.csv
*.parquet
*.swp
.DS_Store